.row {
    display: flex !important;
    height: 100%;
}
#contact-row,
#home-row {
    height: 100vh;
}

.container-fluid .header {
    background-color: rgb(80, 114, 169);
    height: 100px;
    align-items: center;
}

.sidebar {
    min-height: fit-content;
    background-color: #f8f9fa;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.nav-text {
    display: block;
    line-height: 50px;
    top: 0;
    max-height: 100%;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 5px;
}


.navbar-custom .nav-link {
    transition: all 0.4s;
}

.navbar-custom .nav-link:not(:first-child) {
    padding: 10px;
    margin-top: 10px;
}


.navbar-custom .nav-link:hover {
    background-image: linear-gradient(to bottom left, #5237, #7823);
    transform: scaleX(1.1) scaleY(1.1); 
}

.navigation {
    height: auto;
}

.main-content {
    background-color: #b4b6cf;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: fit-content;
    flex: 1;
    flex-grow: 1;
}

/******************************************************
************************ HOME *************************
*******************************************************/

#homepage-main-content {
    background-image: url("./images/how-to-become-software-engineer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header {
    position: fixed;
    border-radius: 5px;
    text-align: center;
    width: 75vw;
    top: 5px;
    padding: 5px;
    background-color: rgb(18, 139, 200);
}

.intro .card {
    background-color: rgb(91, 128, 147);
}

.intro .card-body {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .card-title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
}

.intro h1 {
    font-size: 36px;
}

.intro h3 {
    font-size: 24px;
}

/******************************************************
************************ SCHOOL ***********************
*******************************************************/

.school-banner-image {
    height: 350px;
}

.school-text {
    position: absolute;
    left: 48vw;
    padding: 5px;
    top: 0;
    font-size: 30px;
}

.class-schedule {
    position: absolute;
    top: 350px;
    overflow-y:hidden;
    width: 100%;
}

.class-schedule h2 {
    padding: 10px;
}

.content {
    padding-left: 20px;
    padding-bottom: 5px;
}

.schooling .row {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.schooling .row:not(:first-child) {
    background-color: #85bcad;
}

/******************************************************
************************ HOBBIES **********************
*******************************************************/

.hobbies .row {
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.hobbies {
    gap: 5px;
}

.hobbies .row:nth-child(odd) {
    background-color: rgba(154, 92, 92, 0.5);
}

.hobbies .row:nth-child(even) {
    background-color: rgba(166, 32, 32, 0.5);
}
.reading-list,
.game-dev-list {
    gap: 50px;
}

/******************************************************
************************ CONTACT **********************
*******************************************************/

.contact {
    align-items: center;
    justify-content: center;
	flex-direction: column
}

.contact .card-body {
    flex-direction: column;
}

.contact .card-bottom {
    margin-top: 10px;
}

.contact .card-text {
    text-align: center;
}

.contact .card-img-top {
    border-radius: 5px;
}

.contact .card-body img {
    width: 500px;
}

#contact-form {
	margin-top: 10px;
}

